{% extends 'home_page/header_footer.html' %}

{% load static %}


{% block content %}
	    
   
	    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">Research Papers</h2>
			    <div class="intro">Welcome to my Research Paper Section.</div>


			     <form class="signup-form form-inline justify-content-center pt-3" action="https://tusher16.us6.list-manage.com/subscribe/post?u=0ae83f3876472d9539b39763e&amp;id=53bd5b3ecb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="semail" for="mce-EMAIL">Your email</label>
                        <input type="email" id="semail" class="form-control mr-md-1 semail" placeholder="Enter email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>

                    <div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ae83f3876472d9539b39763e_53bd5b3ecb" tabindex="-1" value=""></div>
                    
                    <button type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
                </form>

                
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">
			    
			    {% for My_researche in My_research_object %}

			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ My_researche.research_image.url }}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{ My_researche.research_readmore_link }}" target="_blank">{{ My_researche.research_title }}</a></h3>
						    <div class="meta mb-1"><span class="date">{{ My_researche.research_publish_time }}</span><span class="comment"><a href="{{ My_researche.research_publication_link }}" target="_blank">{{ My_researche.research_published_by }} </a></span></div>
						    <div class="intro">{{ My_researche.research_short_dis }}</div>
						    <a class="more-link" href="{{ My_researche.research_readmore_link }}" target="_blank">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->

			    
			    {% endfor %}
			    
			    <nav class="blog-nav nav nav-justified my-5">

			    {% if My_research_object.has_previous %}
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="{% url 'research_papers' %}?page={{ My_research_object.previous_page_number }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				{% endif %}

				{% if My_research_object.has_next %}
				  <a class="nav-link-next nav-item nav-link rounded" href="{% url 'research_papers' %}?page={{ My_research_object.next_page_number }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				{% endif %}

				</nav>
				
		    </div>
	    </section>
	    <footer class="footer text-center py-4">
			<small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
		</footer>
    
    </div><!--//main-wrapper-->
    
   
    
    
{% endblock content %}
